@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-background-color {
  background-color: #00adb5;
}

.logo-background-color-lighter {
  background-color: #02d5e0;
}
.logo-border-color {
  border: 4px solid #00adb5;
}

.logo-border-bottom-color {
  border-bottom: 4px solid #00adb5;
}

.logo-text-color {
  color: #00adb5;
}
